{% extends 'Main/base.html' %}
{% load static %}
    {% block content %}
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'home' %}">Ayush's Blog</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'home' %}">Home</a></li>
								{% if user.is_authenticated %}
								<li><a href="{% url 'logout' %}">Log Out</a></li>
								{% else %}
								<li><a href="{% url 'login' %}">Log In</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>
								{% endif %}
								<li><a href="{% url 'create' %}" >Add a post</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa fa-user"></span></div>
							<h2>My Journal</h2>
							<p>An in-depth gaze into my mind...</p>
							<div id = "scriptbois">
								{% if messages %}
								{% for message in messages%}
									<strong> {{message}}</strong>
									<button onclick="closeButton()">
										<span aria-hidden="true">&times;</span>
									</button>
								{%endfor%}
								{%endif %} 
							
							</div>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">
						{% for post in posts reversed%}
						    {% if forloop.counter|divisibleby:2 %}
							<section id="two" class="wrapper alt spotlight styletwo">
								<div class="inner">
									<a href="#" class="image"><img src="../../static/images/cato{{forloop.counter}}.png" alt="" /></a>
									<div class="content">
										<h2 class="major">{{post.title}}</h2>
										<p>{{post.subtitle}}</p>
										<p>Posted by {{post.author}} on {{post.date}}</p>
										<a href="#" class="special">Dive In</a>
										{% if user.id == 1 or user.id == post.user_id %}
										<a href="{% url 'update' id=post.id%}" class="special">Update</a>
										<a href="{% url 'delete' id=post.id%}" class="special">Delete</a>
										{% endif %}
									</div>
								</div>
							</section>
                        
							{% else %}
							
							<section id="one" class="wrapper spotlight styleone">
								<div class="inner">
									<a href="#" class="image"><img src="../../static/images/cato{{forloop.counter}}.png" alt="" /></a>
									<div class="content">
										<h2 class="major">{{post.title}}</h2>
										<p>{{post.subtitle}}</p>
										<p>Posted by {{post.author}} on {{post.date}}</p>
										<a href="#" class="special">Dive In</a>
										{% if user.id == 1 or user.id == post.user_id %}
										<a href="{% url 'update' id=post.id%}" class="special">Update</a>
										<a href="{% url 'delete' id=post.id%}" class="special">Delete</a>
										{% endif %}
									</div>
								</div>
							</section>
							
							{% endif %}
	
						{% endfor %}
					</section>

	{% endblock %}