{% extends 'Main/base.html' %}
{% load static %}
    {% block content %}
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="{% url 'home' %}">Ayush's Blog</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="{% url 'home' %}">Home</a></li>
								{% if user.is_authenticated %}
								<li><a href="{% url 'logout' %}">Log Out</a></li>
								{% else %}
								<li><a href="{% url 'login' %}">Log In</a></li>
								<li><a href="{% url 'register' %}">Register</a></li>
								{% endif %}
								<li><a href="{% url 'create' %}" >Add a post</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa fa-user"></span></div>
							<h2>My Journal</h2>
							<p>An in-depth gaze into my mind...</p>
							<div id = "scriptbois">
								{% if messages %}
								{% for message in messages%}
									<strong> {{message}}</strong>
									<button onclick="closeButton()">
										<span aria-hidden="true">&times;</span>
									</button>
								{%endfor%}
								{%endif %} 
							
							</div>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/cato1.png' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Magna arcu feugiat</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/cato2.png' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Tempus adipiscing</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{% static 'images/cato3.png' %}" alt="" /></a>
									<div class="content">
										<h2 class="major">Nullam dignissim</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>
                        
						<!-- Two -->
						<section id="two" class="wrapper alt spotlight style2">
							<div class="inner">
								<a href="#" class="image"><img src="{% static 'images/cato4.png' %}" alt="" /></a>
								<div class="content">
									<h2 class="major">Tempus adipiscing</h2>
									<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
									<a href="#" class="special">Learn more</a>
								</div>
							</div>
						</section>
					</section>

	{% endblock %}